{% extends 'base.html.twig' %}

{% block title %}Mes addrticles{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <br>
    <a href="{{ path('main') }}">Retour</a>

{% endblock %}
